### Функции




Функция это блок организованного, многократно используемоего кода, который используется для выполнения конкретного задания. Функции обеспечивают лучшую модульность приложения и значительно повышают уровень повторного использования кода.

**Функция** — это мини-программа внутри вашей основной программы, которая делает какую-то одну понятную вещь. 

Нередко случается, что какая-то часть программы (блок кода) неоднократно повторяется. Чтобы устранить подобного рода избыточность программного кода, используют понятие функции. Функция — это именованный блок кода, который вызывается в нужных местах программы по имени. Другими словами, функция представляет собой подпрограмму, которую можно вызвать из основной программы, причем неоднократно. Повторяющийся (да и не только) блок программного кода обычно обозначают некоторым уникальным именем, чтобы потом при необходимости обратиться к нему по этому имени.

Пригодится в занятии

http://pythontutor.com/

### Создание функции

Существуют некоторые правила для создания функций в Python:

+ Блок функции начинается с ключевого слова def, после которого следуют название функции и круглые скобки ()

+ Любые аргументы, которые принимает функция должны находиться внутри этих скобок.

+ После скобок идет двоеточие ( : ) и с новой строки с отступом начинается тело функции.

In [2]:
def myfunction():
  print('Эта наша первая функция')
    
    

myfunction()

Эта наша первая функция

In [3]:
def yourfunction():
    print('Два')



print('Раз')



print('Три')
yourfunction()

Раз
Три
Два

Есть **объявление** и **вызов** функции. Это разные процессы

In [4]:
def another_func():
  print(2+2)

print(another_func())

4
None

In [ ]:
int('5')

5

### Ключевое слово return

* Выражение return прекращает выполнение функции и возвращает указанное после выражения значение. 

* Выражение return без аргументов это то же самое, что и выражение return None. 

* Соответственно, теперь становится возможным, например, присваивать результат выполнения функции какой либо переменной.

In [ ]:
def another_func():
  return 2+2

print(another_func())

4

Функции являются объектами в языке Python, а это значит, например, что их реззультат можно присваивать в переменную

In [ ]:
four = another_func() # обратите внимание на скобки. Так мы присваиваем РЕЗУЛЬТАТ функции
# four = another_func # а так мы добавляем ссылку на объект. Теперь мы можем вызвать функцию four()
four

4

Немного практики. Буквы a и b в скобках - это параметры функции, которые мы указываем при объявлении функции. Когда мы её вызываем мы передаем в вызов аргументы. В нашем случае это будут числа.

In [ ]:
def count_sum(a, b):
  return a+b

In [ ]:
count = count_sum 
count(2, 8)

10

In [ ]:
def bigger(a,b):
    """Эта функция сравнивает числа и выдает большее"""
    if a > b:
        return a
    
    if a==b:
      return 'Числа равны'

    return b # 
    print('hello') # 
 
# присваиваем результат функции bigger переменной num
num = bigger(25, 25)
print(num)

Числа равны

### Задача
Давайте напишем функцию, которая будет возвращать нам первую цифру веденного числа

In [ ]:
first_digit(457) -> 4

# Функции придают программе структуру

Польза функций не только в возможности многократного вызова одного и того же кода из разных мест программы. Не менее важно, что благодаря им программа обретает истинную структуру. Функции как бы разделяют ее на обособленные части, каждая из которых выполняет свою конкретную задачу.

Пусть надо написать программу, вычисляющую площади разных фигур. Пользователь указывает, площадь какой фигуры он хочет вычислить. После этого вводит исходные данные. Например, длину и ширину в случае прямоугольника. Чтобы разделить поток выполнения на несколько ветвей, следует использовать оператор if-elif-else:

In [ ]:
figure = input("1-прямоугольник, 2-треугольник, 3-круг: ")
 
if figure == '1':
    a = float(input("Ширина: "))
    b = float(input("Высота: "))
    print("Площадь: {}".format(a*b))
elif figure == '2':
    a = float(input("Основание: "))
    h = float(input("Высота: "))
    print("Площадь: {}".format(0.5 * a * h))
elif figure == '3':
    r = float(input("Радиус: "))
    print("Площадь: {}".format(3.14 * r**2))
else:
    print("Ошибка ввода")
    
figure

1-прямоугольник, 2-треугольник, 3-круг: 1
Ширина: 1
Высота: 4
Площадь: 4.0

'1'

In [ ]:
def rectangle():
    """Эта функция считает площадь прямоугольника"""
    a = float(input("Ширина: "))
    b = float(input("Высота: "))
    print("Площадь: %.2f" % (a*b))
 
def triangle():
    """Эта функция считает площадь треугольника"""
    a = float(input("Основание: "))
    h = float(input("Высота: "))
    print("Площадь: %.2f" % (0.5 * a * h))
 
def circle():
    """Эта функция считает площадь круга"""
    r = float(input("Радиус: "))
    print("Площадь: %.2f" % (3.14 * r**2))
 
figure = input("1-прямоугольник, 2-треугольник, 3-круг: ")
if figure == '1':
    rectangle()
elif figure == '2':
    triangle()
elif figure == '3':
    circle()
else:
    print("Ошибка ввода")

1-прямоугольник, 2-треугольник, 3-круг: 1
Ширина: 24
Высота: 4
Площадь: 96.00

In [ ]:
help(circle)

Help on function circle in module __main__:

circle()
    Эта функция считает площадь круга

In [ ]:
def example(n):
  """Эта функция вычисляет квадратный корень числа"""
  return n**0.5

example(16)

4.0

In [ ]:
help(example)

Help on function example in module __main__:

example(n)
    Эта функция вычисляет квадратный корень числа

Он кажется сложнее, а каждая из трех функций вызывается всего один раз. Однако из общей логики программы как бы убраны и обособлены инструкции для нахождения площадей. Программа теперь состоит из отдельных "кирпичиков Лего". В основной ветке мы можем комбинировать их как угодно. Она играет роль управляющего механизма.

Если нам когда-нибудь захочется вычислять площадь треугольника по формуле Герона, а не через высоту, то не придется искать код во всей программе (представьте, что она состоит из тысяч строк кода как реальные программы). Мы пойдем к месту определения функций и изменим тело одной из них.

Если понадобиться использовать эти функции в какой-нибудь другой программе, то мы сможем импортировать их туда, сославшись на данный файл с кодом

## Именованные аргументы

In [ ]:
def bigger(a, b=5):
    """Эта функция сравнивает числа и выдает большее"""
    if a > b:
        return a
    return b # Незачем использовать else. Если мы дошли до этой строки, то b, точно не меньше чем a
    print('hello')# Этот print уже не заработает
    

bigger(4, 3)

4

### Аргументы функции в Python

Вызывая функцию, мы можем передавать ей следующие типы аргументов:

* Обязательные аргументы (Required arguments)
* Аргументы-ключевые слова (Keyword argument)
* Аргументы произвольной длины (Variable-length argumens)

https://stackoverflow.com/questions/36901/what-does-double-star-asterisk-and-star-asterisk-do-for-parameters

In [ ]:
def example2(n):
  return n*5

example2()

TypeError: ignored

In [ ]:
"""Аргументы - ключевые слова используются при вызове функции. 
Благодаря ключевым аргументам, вы можете задавать произвольный 
(то есть не такой каким он описа при создании функции) порядок аргументов"""

def person(name, age):
    print(name, "is", age, "years old")

 
# Хотя в описании функции первым аргументом идет имя, мы можем вызвать функцию вот так

person(age=23, name="John")

John is 23 years old

In [ ]:
#Аргумент по умолчанию, это аргумент, значение для которого задано изначально, при создании функции.

def space(planet_name, center="Star"):
    print(planet_name, "is orbiting a", center)
 
# Можно вызвать функцию space так:
space("Mars")
# В результате получим: Mars is orbiting a Star
 
# Можно вызвать функцию space иначе:
space("Mars", center="Black Hole")
# В результате получим: Mars is orbiting a Black Hole

Mars is orbiting a Star
Mars is orbiting a Black Hole

###Задача
Давайте напишем функцию, которая принимает в качестве первого аргумента число, а второй параметр будет отвечать за настройку типа данных вывода. Нам нужно два варианта: string и integer. Функция должна возвращать первую цифру числа

Иногда возникает ситуация, когда вы заранее не знаете, какое количество аргументов будет необходимо принять функции. В этом случае следует использовать аргументы произвольной длины. Они задаются произвольным именем переменной, перед которой ставится звездочка (*).

In [ ]:
#Аргумент произвольной длины

print(*['Привет', 'мир!'])

Привет мир!

In [ ]:
def unknown(*args):
    for argument in args:
        print(argument)
 
unknown("hello","world") # напечатает оба слова, каждое с новой строки
unknown(1,2,3,4,5) # напечатает все числа, каждое с новой строки
unknown() # ничего не выведет

hello
world
1
2
3
4
5

In [ ]:
arr = ['Привет', 'мир!', 'как', 'дела?']
for x in arr:
  print(x, sep = ':', end = ":")

Привет:мир!:как:дела?:

### Области видимости

Область видимости указывает интерпретатору, когда наименование (или переменная) видимо. Другими словами, область видимости определяет, когда и где вы можете использовать свои переменные, функции, и т.д. Если вы попытаетесь использовать что-либо, что не является в вашей области видимости, вы получите ошибку NameError.

Python содержит два  типа области видимости:

* Локальная область видимости
* Глобальная область видимости


Переменные объявленные внутри тела функции имеют локальную область видимости, те что объявлены вне какой-либо функции имеют глобальную область видимости.

Это означает, что доступ к локальным переменным имеют только те функции, в которых они были объявлены, в то время как доступ к глобальным переменным можно получить по всей программе в любой функции.

In [ ]:
# глобальная переменная age
age = 44
 
def info():
    print(age) # Печатаем глобальную переменную age


def local_info():
    age = 22 # создаем локальную переменную age 
    print(age)
    

def local_info_2():
    age = 24
    print(age)
 
info() # напечатает 44
local_info()
local_info_2()

44
22
24

In [ ]:
age = 44
age = 22 # создаем локальную переменную age 
age = 24
print(age)

24

Важно помнить, что для того чтобы получить доступ к глобальной переменной, достаточно лишь указать ее имя. 

Однако, если перед нами стоит задача изменить глобальную переменную внутри функции - необходимо использовать ключевое слово global.

In [ ]:
# глобальная переменная age
age = 13
 
# функция изменяющая глобальную переменную
def get_older():
    global age
    age += 1
    age *= 2
 
print(age) # напечатает 13
get_older() # увеличиваем age на 1
print(age) # напечатает 14

13
28

Когда может стоять такая задача?

In [ ]:
count = 1000
 
# функция изменяющая глобальную переменную
def func_one():
    global count
    count -= 500
    if count <=0:
        print('Вы не можете больше тратить')
    else:
        print('Вы потратили 500 рублей')

def func_two():
    global count
    count -= 1000
    if count <=0:
        print('Вы не можете больше тратить')
    else:
        print('Вы потратили 1000 рублей')
    
 
print(count) 
func_one() 
print(count)
func_one()

1000
Вы потратили 500 рублей
500
Вы не можете больше тратить

Подробнеее о print

In [ ]:
#print
words = ["Welcome", "to", "Python"]
print(*words)
print(*words, end="!!!!\n")
print(*words, sep="\n")

Welcome to Python
Welcome to Python!!!!
Welcome
to
Python

# pass

Оператор-заглушка, равноценный отсутствию операции.
В ходе исполнения данного оператора ничего не происходит, поэтому он может использоваться в качестве заглушки в тех местах, где это синтаксически необходимо, например: в инструкциях, где тело является обязательным, таких как def, except и пр.

Зачастую pass используется там, где код пока ещё не появился, но планируется. Кроме этого, иногда, его используют при отладке, разместив на строчке с ним точку остановки.

In [5]:
def triangle_S(a, b, sin):
  return 0.5*a*b*sin


def get_a():
  pass



def get_b():
  pass


def get_sin():
  pass


triangle_S(get_a(), get_b(), get_sin())

TypeError: ignored

In [ ]:
#Обязательные аргументы функции:

'''Если при создании функции мы указали количество передаваемых ей аргументов и их порядок, 
то и вызывать ее мы должны с тем же количеством аргументов, заданных в нужном порядке'''



        


print(y)


x = 123123
# Корректное использование функции
 
# Некорректное использование функции
# bigger()
# bigger(3)
# bigger(12,7,3) 

def num(x):
    return x*5


y = bigger(10, num(4))
print(y)

20
20

function

In [ ]:
help(myfunction)

Help on function myfunction in module __main__:

myfunction()
    Это тестовое описание функции для урока

In [ ]:
a = enumerate([1, 2, 3])
for i, k in list(a):
    print(i, k*2)

[(0, 1), (1, 2), (2, 3)]

## zip

In [ ]:


#Эта функция ещё более специализирована, чем enumerate.
#Zip используется для перебора сразу нескольких объектов одновременно.

one_iterable = [2, 1, 3, 4, 7, 11]
another_iterable = ['P', 'y', 't', 'h', 'o', 'n']
third_list = [2, 6, 3, 4]
list(zip(one_iterable, another_iterable, third_list))
# for n, letter in zip(one_iterable, another_iterable):
#     print(letter, n)


#По сравнению с enumerate, последняя функция удобна, когда нужна индексация во время цикла.
#Если нужно обрабатывать несколько объектов одновременно, zip предпочтительнее enumerate.

[(2, 'P', 2), (1, 'y', 6), (3, 't', 3), (4, 'h', 4)]

In [ ]:
a = [1, 2, 3 , 5, 3]
set(a)

{1, 2, 3, 5}

## reversed

In [ ]:

#Функция reversed, как enumerate и zip, возвращает итератор.

numbers = [2, 1, 3, 4, 7]
print(reversed(numbers))

#Единственное, что можно сделать с этим итератором, пройтись по нему (но только один раз).

reversed_numbers = reversed(numbers)
print(list(reversed_numbers))
print(list(reversed_numbers))


#Подобно enumerate и zip, reversed является своего рода вспомогательной функцией в циклах. 
#Её использование можно увидеть исключительно в цикле for.

<list_reverseiterator object at 0x7f2663fac3d0>
[7, 4, 3, 1, 2]
[]

### Задача
Определите функцию count_letters(sentence, average), которая считает количество букв в строке без учёта пробелов. У функции должен быть необязательный булевый аргумент average, который по умолчанию равен False. Если он равен True, то функция должна возвращать количество букв в среднем на слово.

In [ ]:
def count_letters(sentence, average = False):
  # Тут надо вспомнить о методах работы со строками. Как превратить строку в список? Как заменить символ в строке? 
  # А ещё мы же не хотим писать лишний else, верно?
  pass

count_letters("I will build my own theme park", average=True) # => 3.429

## lambda, map, filter

lambda оператор или lambda функция в Python это способ создать анонимную функцию, то есть функцию без имени. 

Такие функции можно назвать одноразовыми, они используются только при создании.

Как правило, lambda функции используются в комбинации с функциями filter, map, reduce.

In [ ]:
lambda arguments: expression

In [ ]:
multiply = lambda x,y: x * y
multiply(21, 2)

42

В Python функция map принимает два аргумента: функцию и аргумент составного типа данных, например, список. 

map применяет к каждому элементу списка переданную функцию. 

Например, вы прочитали из файла список чисел, изначально все эти числа имеют строковый тип данных, чтобы работать с ними - нужно превратить их в целое число:

In [ ]:
old_list = ['1', '2', '3', '4', '5', '6', '7']
 
new_list = []
for item in old_list:
    new_list.append(int(item))
 
print(new_list)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
old_list = ['1', '2', '3', '4', '5', '6', '7']

new_list = [int(x)*6 for x in old_list]
new_list

[6, 12, 18, 24, 30, 36, 42]

In [ ]:
old_list = ['1', '2', '3', '4', '5', '6', '7']
new_list = list(map(lambda x: int(x)*6, old_list))
new_list

[6, 12, 18, 24, 30, 36, 42]

In [ ]:
new_list = list(map(int, old_list))
print(new_list)

[1, 2, 3, 4, 5, 6, 7]

Как видите такой способ занимает меньше строк, более читабелен и выполняется быстрее. map также работает и с функциями созданными пользователем:

In [ ]:
def miles_to_kilometers(num_miles):
    """ Converts miles to the kilometers """
    return num_miles * 1.6
 
mile_distances = [1.0, 6.5, 17.4, 2.4, 9]
kilometer_distances = list(map(miles_to_kilometers, mile_distances))
print(kilometer_distances)

[1.6, 10.4, 27.84, 3.84, 14.4]

In [ ]:
mile_distances = [1.0, 6.5, 17.4, 2.4, 9]
kilometer_distances = list(map(lambda x: x * 1.6, mile_distances))
 
print (kilometer_distances)

[1.6, 10.4, 27.84, 3.84, 14.4]

Функция map может быть так же применена для нескольких списков, в таком случае функция-аргумент должна принимать количество аргументов, соответствующее количеству списков:

In [ ]:
l1 = [1,2,3]
l2 = [4,5,6]
 
new_list = list(map(lambda x,y: x + y, l1, l2))
print (new_list)

[5, 7, 9]

Если же количество элементов в списках совпадать не будет, то выполнение закончится на минимальном списке:

In [ ]:
l1 = [1,2,3]
l2 = [4,5]
 
new_list = list(map(lambda x,y:  + y, l1, l2))
 
print (new_list)

[4, 5]

Функция filter предлагает элегантный вариант фильтрации элементов последовательности. Принимает в качестве аргументов функцию и последовательность, которую необходимо отфильтровать:

In [ ]:
mixed = ['мак', 'молоко', 'банан', 'мороженое', 'мясо', 'греча', 'кура', 'апельсин']
zolushka = list(filter(lambda x: x.startswith('м'), mixed))
 
print (zolushka)

['мак', 'молоко', 'мороженое', 'мясо']

In [ ]:
words = ["sofa", "suitcase", "valise", "picture", "basket", "carton", "doggie"]
list(map(lambda w: sorted(w)[0], words))[5]

'a'

### Применение функций в Pandas

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/alnagaev/landing/master/train.csv')

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Создаем новый столбец с информацией о том, был ли пассажир на борту один или с родственниками

Столбец должен содержать значение "alone", если он был на борту один (без супруга/супруги, братьев, сестер, детей и родителей) и значение "not alone", если пассажир путешествовал с кем-то из родственников

In [ ]:
# Способ 1: с помощью именной функции и apply
def alone_check(row):
    if row['SibSp'] or row['Parch'] > 0:
        return 'not_alone'
    return 'alone'
    
df['Alone'] = df.apply(alone_check, axis=1)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Alone
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,not_alone
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,not_alone
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,alone
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,not_alone
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,alone
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,alone
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,alone
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,not_alone
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,alone
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,alone

In [ ]:
df['Fare'].apply(lambda x: x*5)

0       36.2500
1      356.4165
2       39.6250
3      265.5000
4       40.2500
         ...
886     65.0000
887    150.0000
888    117.2500
889    150.0000
890     38.7500
Name: Fare, Length: 891, dtype: float64

In [ ]:
# Способ 2: с помощью lambda-функции
df.drop('Alone', axis=1, inplace = True)

df['Alone'] = df.apply(lambda x: 'not_alone' if x['SibSp'] or x['Parch'] > 0 else 'alone', axis = 1)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Alone
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,not_alone
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,not_alone
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,alone
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,not_alone
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,alone
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,alone
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,alone
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,not_alone
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,alone
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,alone

### Спасибо за внимание буду рад ответить на ваши вопросы!
Ссылка на форму ОС:
https://forms.gle/GvTRz2pPGpLqNmef6

Куда смотреть дальше:

Декораторы https://pythonworld.ru/osnovy/dekoratory.html

Замыкания https://devpractice.ru/closures-in-python/

Классы https://python-scripts.com/python-class