In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1480,tt0418689,90000000,65900249,Flags of Our Fathers,Ryan Phillippe|Adam Beach|Jesse Bradford|John ...,Clint Eastwood,They fight for their country but they die for ...,There were five Marines and one Navy Corpsman ...,132,War|Drama|History,DreamWorks SKG|Amblin Entertainment|Malpaso Pr...,10/19/2006,6.7,2006
1523,tt0462200,15000000,10903846,Black Snake Moan,Samuel L. Jackson|Christina Ricci|Justin Timbe...,Craig Brewer,To save his soul he must save hers.,A God-fearing bluesman takes to a wild young w...,116,Drama,Paramount Classics,12/8/2006,6.3,2006
1392,tt0358273,28000000,186438883,Walk the Line,Joaquin Phoenix|Reese Witherspoon|Ginnifer Goo...,James Mangold,Love is a burning thing.,A chronicle of country music legend Johnny Cas...,136,Drama|Music|Romance,Tree Line Films|Konrad Pictures|Catfish Produc...,9/13/2005,7.0,2005
1764,tt0463998,21000000,41170784,Freedom Writers,Hilary Swank|Scott Glenn|Imelda Staunton|Patri...,Richard LaGravenese,Their story. Their world. Their future.,A young teacher inspires her class of at-risk ...,123,Crime|Drama,Double Feature Films|Jersey Films|Kernos Filmp...,1/5/2007,7.5,2007
463,tt0427152,69000000,86387857,Dinner for Schmucks,Steve Carell|Paul Rudd|Stephanie Szostak|Jemai...,Jay Roach,Takes One To Know One.,Rising executive Tim Wagner works for a boss w...,114,Comedy,Paramount Pictures|DreamWorks SKG|Spyglass Ent...,7/30/2010,5.4,2010

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [0]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

answers ['1'] = '4. Pirates of the Caribbean: On Stranger Tides (tt1298650)' "+"
answers ['2'] = '2. Gods and Generals (tt0279111)' "+"
answers ['3'] = '3. Winnie the Pooh (tt1449283)' "+"
answers ['4'] = '2. 110' "+"
answers ['5'] = '1. 107'"+"
answers ['6'] = '5. Avatar (tt0499549)' "+"
answers ['7'] = '5. The Lone Ranger (tt1210819)' "+"
answers ['8'] = '1. 1478' "+"
answers ['9'] = '4. The Dark Knight (tt0468569)' "+"
answers ['10'] = '5. The Lone Ranger (tt1210819)' "+"
answers ['11'] = '3. Drama' "+"
answers ['12'] = '1. Drama' "+"
answers ['13'] = '5. Peter Jackson' "+"
answers ['14'] = '3. Robert Rodriguez ' "+"
answers ['15'] = '3. Chris Hemsworth' "+"
answers ['16'] = '3. Matt Damon' "+"
answers ['17'] = '2. Action' "+"
answers ['18'] = '1. K-19: The Widowmaker (tt0267626)' "+"
answers ['19'] = '5. 2015' "+"
answers ['20'] = '1. 2014' "+"
answers ['21'] = '4. Сентябрь' "+"
answers ['22'] = '2. 450' "+"
answers ['23']
answers ['24']
answers ['25']
answers ['26']
answers ['27']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [4]:
# тут пишем ваш код для решения данного вопроса:
data[(data.budget == data.budget.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [5]:
data[(data.runtime == data.runtime.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [6]:
data[(data.runtime == data.runtime.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [7]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [8]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [3]:
# лучше код получения столбца profit вынести в Предобработку что в начале

data['money']=data['revenue']-data['budget']
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,money
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

In [45]:
data[(data.money == data.money.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,money
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [46]:
data[(data.money == data.money.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,money
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [12]:
data3=data[(data.money >= 0)]
print('Row count is:',len(data3.index))

Row count is: 1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [47]:
#data[(data['release_year']==2008)].money.max()

data9=data[(data['release_year']==2008)]
data9[(data9['money']==data9['money'].max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,money
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [48]:
data10=data[(data['release_year']>=2012)& (data['release_year']<2014)]
data10[(data10['money']==data10['money'].min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,money
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [38]:
import pandas as pd
from collections import Counter
df_11 = data.copy() # data - это основная переменная, в которую Вы прочитали файл
df_genres = df_11.genres.str.split('|') # создаем списки из жанров, которые хранятся в поле genres, для каждой строки
df_genres_lst = df_genres.sum() # склеиваем все в один список
Counter(df_genres_lst).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [55]:
data12 = data[['revenue', 'genres']]
data12=data12['genres'].str.cat(sep='|') # превращаем все в одну строку
data12=pd.Series(data12.split('|')) # создаем список разделяя строку по '|'
data12=data12.value_counts(ascending=False) # считаем количество элементов строке
data12

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [30]:
data13=data.copy()
data13['director']=data13.director.str.split('|')
data13=data13.explode('director')
data13.pivot_table(['revenue'], ['director'], aggfunc='sum', fill_value=0).nlargest(1, 'revenue').index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [61]:
data14 = data[data.genres.str.contains("Action")]
data14=data14['director'].str.cat(sep='|') # превращаем все в одну строку
data14=pd.Series(data14.split('|')) # создаем список разделяя строку по '|'
data14=data14.value_counts(ascending=False) # считаем количество элементов строке
data14

Robert Rodriguez         9
Paul W.S. Anderson       7
Michael Bay              7
Ridley Scott             6
Antoine Fuqua            6
                        ..
Gina Prince-Bythewood    1
Jay Russell              1
DJ Pooh                  1
Andy Fickman             1
John Erick Dowdle        1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [4]:
data15 = data.copy()
data15 = data15[data15.release_year == 2012]  # отдеяем фильмы за 2012
data15['cast'] = data15['cast'].str.split('|')  # разделяем актеров
data15 = data15.explode('cast')
data15.pivot_table(['revenue'], ['cast'], aggfunc='sum', fill_value = 0).nlargest(1, 'revenue').index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [30]:
data16 = data[(data['budget'] >data['budget'].mean())]
data16=data16['cast'].str.cat(sep='|') # превращаем все в одну строку
data16=pd.Series(data16.split('|')) # создаем список разделяя строку по '|'
data16=data16.value_counts(ascending=False) # считаем количество элементов строке
data16

Matt Damon            18
Adam Sandler          17
Angelina Jolie        16
Tom Cruise            15
Eddie Murphy          15
                      ..
Ansel Elgort           1
Lucy Lawless           1
Clancy Brown           1
Eva Amurri Martino     1
Stacy Keach            1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [31]:
data17 = data[data.cast.str.contains("Nicolas Cage")]
data17=data17['genres'].str.cat(sep='|') # превращаем все в одну строку
data17=pd.Series(data17.split('|')) # создаем список разделяя строку по '|'
data17=data17.value_counts(ascending=False) # считаем количество элементов строке
data17

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
Horror              1
War                 1
Romance             1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [5]:
data18=data.copy
data.sample(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,money
674,tt0960144,90000000,201596308,You Don't Mess With the Zohan,Adam Sandler|John Turturro|Emmanuelle Chriqui|...,Dennis Dugan,Lather. Rinse. Save the world.,An Israeli counterterrorism soldier with a sec...,113,Comedy|Action,Columbia Pictures|Happy Madison Productions|So...,6/5/2008,5.6,2008,111596308

In [27]:
data[data['production_companies'].str.contains('Paramount Pictures', na=False)].sort_values(by='money').head(1)['original_title'].values[0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [70]:
data19=data.copy()
data19=data19.groupby(by = 'release_year')['revenue'].max()
data19.sort_values()

release_year
2000     546388105
2005     895921036
2004     919838758
2002     926287400
2014     955119788
2007     961000000
2001     976475550
2008    1001921825
2010    1063171911
2006    1065659812
2003    1118888979
2013    1274219009
2011    1327817822
2012    1519557910
2015    2068178225
2009    2781505847
Name: revenue, dtype: int64

In [5]:
cols = ['release_year', 'revenue']
df = data[cols].copy()
# Формируем датафрейм - кассовые (max revenue) сборы по годам :
df = df.groupby('release_year')[['revenue']].sum()
# Любуемся:
display(df)
# В текстовой форме:
year, money = df.revenue.idxmax(), df.revenue.max()/1e6
print(f'Самым успешным по суммарным кассовым сборам стал {year} год.')
print(f'Кассовые сборы в этом году составили {round(money, 0)} млн. долларов.')

                  revenue
release_year
2000          10664099805
2001          13017764865
2002          14136361487
2003          14346123312
2004          15663430720
2005          15309425558
2006          14775042320
2007          18162406801
2008          18252781990
2009          20261791024
2010          21071204961
2011          22676791872
2012          23079001687
2013          23213799791
2014          23405862953
2015          25449202382

Самым успешным по суммарным кассовым сборам стал 2015 год.
Кассовые сборы в этом году составили 25449.0 млн. долларов.

# 20. Какой самый прибыльный год для студии Warner Bros?

In [34]:
data20 = data.copy()
data20=data20[data20.production_companies.str.contains("Warner Bros.")]
data20.production_companies = data20.production_companies.str.split('|')
data20 = data20.explode('production_companies')
data20 = data20.groupby(['release_year'])['money'].sum().sort_values(ascending=False)
display(data20)

release_year
2014    11407212316
2007     9808752478
2008     8232393786
2003     7882788875
2004     7353305273
2009     6508879437
2013     6451875149
2011     6189809006
2005     6076443126
2010     5952395957
2001     5194583917
2012     5090783245
2002     3826054138
2006     3139504609
2015     2745421723
2000     1769976543
Name: money, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [5]:
data21=data.copy
data.sample(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,money
382,tt0944835,110000000,293329073,Salt,Angelina Jolie|Liev Schreiber|Corey Stoll|Chiw...,Phillip Noyce,Who is Salt?,"As a CIA officer, Evelyn Salt swore an oath to...",100,Action|Thriller|Crime|Mystery,Columbia Pictures|Di Bonaventura Pictures|Rela...,7/21/2010,6.2,2010,183329073

In [4]:
data.release_date = pd.to_datetime(data.release_date)
data['release_month'] = data.release_date.dt.month
data['release_month'].value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [62]:
data22=data.copy()
data22=data[(data.release_month >= 6) & (data.release_month <= 8)]
data22=data22['release_month'].value_counts()
data22=data22.sum()
data22

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [49]:
#то есть зима январь ферваль декабрь. Самое продуктивное то есть вышло фильмов 
data23=data.copy()
data23=data[(data.release_month >= 1) & (data.release_month <= 2)]
data23=data23['director'].str.cat(sep='|') # превращаем все в одну строку
data23=pd.Series(data23.split('|')) # создаем список разделяя строку по '|'
data23=data23.value_counts(ascending=False) # считаем количество элементов строке
data23

Steve Carr             3
Jason Friedberg        3
Aaron Seltzer          3
Andrzej Bartkowiak     2
Donald Petrie          2
                      ..
Mike McCoy             1
Matthew O'Callaghan    1
David R. Ellis         1
Dominic Sena           1
Xavier Palud           1
Length: 235, dtype: int64

In [52]:
data231=data.copy()
data231=data[(data.release_month == 12)]
data231=data231['director'].str.cat(sep='|') # превращаем все в одну строку
data231=pd.Series(data231.split('|')) # создаем список разделяя строку по '|'
data231=data231.value_counts(ascending=False) # считаем количество элементов строке
data231

Peter Jackson        7
Clint Eastwood       5
Nancy Meyers         4
Steven Soderbergh    4
Tim Burton           3
                    ..
Nick Hurran          1
Shana Feste          1
Sam Raimi            1
J.C. Chandor         1
Joel Schumacher      1
Length: 153, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)