In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1294,tt2357129,12000000,35931410,Jobs,Ashton Kutcher|Dermot Mulroney|Amanda Crew|Jam...,Joshua Michael Stern,"Some see what's possible, others change what's...",The story of Steve Jobs' ascension from colleg...,128,Drama|History,Open Road Films|Dillywood|Five Star Institute|...,8/16/2013,6.0,2013
213,tt1800246,8000000,26049082,That Awkward Moment,Zac Efron|Miles Teller|Michael B. Jordan|Imoge...,Tom Gormican,When you realize getting some means wanting more.,Best pals Jason and Daniel indulge in casual f...,94,Comedy|Romance,Treehouse Pictures,1/29/2014,6.0,2014
874,tt0275847,80000000,145771527,Lilo & Stitch,Chris Sanders|Daveigh Chase|Tia Carrere|David ...,Dean DeBlois|Chris Sanders,He's coming to our galaxy.,A lonely Hawaiian girl named Lilo is being rai...,85,Animation,Walt Disney Pictures|Walt Disney Feature Anima...,6/21/2002,6.9,2002
641,tt0988595,30000000,160259319,27 Dresses,Katherine Heigl|James Marsden|Malin Ã…kerman|J...,Anne Fletcher,She's about to find the perfect fit.,Altruistic Jane finds herself facing her worst...,111,Comedy|Romance,Spyglass Entertainment|Fox 2000 Pictures|Dune ...,1/10/2008,6.1,2008
1048,tt1433811,10000000,3428048,Disconnect,Jason Bateman|Hope Davis|Frank Grillo|Paula Pa...,Henry Alex Rubin,Look up.,Disconnect interweaves multiple storylines abo...,115,Drama|Thriller,Lionsgate|Liddell Entertainment|LD Entertainme...,9/11/2012,6.7,2012

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [7]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

answers ['1'] = '4. Pirates of the Caribbean: On Stranger Tides (tt1298650)' "+"
answers ['2'] = '2. Gods and Generals (tt0279111)' "+"
answers ['3'] = '3. Winnie the Pooh (tt1449283)' "+"
answers ['4'] = '2. 110' "+"
answers ['5'] = '1. 107'"+"
answers ['6'] = '5. Avatar (tt0499549)' "+"
answers ['7'] = '5. The Lone Ranger (tt1210819)' "+"
answers ['8'] = '1. 1478' "+"
answers ['9'] = '4. The Dark Knight (tt0468569)' "+"
answers ['10'] = '5. The Lone Ranger (tt1210819)' "+"
answers ['11'] = '3. Drama' "+"
answers ['12'] = '1. Drama' "+"
answers ['13'] = '5. Peter Jackson' "+"
answers ['14'] = '3. Robert Rodriguez ' "+"
answers ['15'] = '3. Chris Hemsworth' "+"
answers ['16'] = '3. Matt Damon' "+"
answers ['17'] = '2. Action' "+"
answers ['18'] = '1. K-19: The Widowmaker (tt0267626)' "+"
answers ['19'] = '5. 2015' "+"
answers ['20'] = '1. 2014' "+"
answers ['21'] = '4. Сентябрь' "+"
answers ['22'] = '2. 450' "+"
answers ['23'] = '5. Peter Jackson' "+"
answers ['24'] = '5. Four By Two Productions' "+"
answers ['25'] = '3. Midnight Picture Show' "+"
answers ['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' "+"
answers ['27'] = '5. Daniel Radcliffe & Rupert Grint верно' "+"

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [4]:
# тут пишем ваш код для решения данного вопроса:
data[(data.budget == data.budget.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [5]:
data[(data.runtime == data.runtime.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [3]:
data[(data.runtime == data.runtime.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [7]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [8]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [3]:
# лучше код получения столбца profit вынести в Предобработку что в начале

data['money']=data['revenue']-data['budget']
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,money
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

In [45]:
data[(data.money == data.money.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,money
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [46]:
data[(data.money == data.money.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,money
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [12]:
data3=data[(data.money >= 0)]
print('Row count is:',len(data3.index))

Row count is: 1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [47]:
data9=data[(data['release_year']==2008)]
data9[(data9['money']==data9['money'].max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,money
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [48]:
data10=data[(data['release_year']>=2012)& (data['release_year']<2014)]
data10[(data10['money']==data10['money'].min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,money
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [38]:
import pandas as pd
from collections import Counter
df_11 = data.copy() 
df_genres = df_11.genres.str.split('|') 
df_genres_lst = df_genres.sum() 
Counter(df_genres_lst).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [55]:
data12 = data[['revenue', 'genres']]
data12=data12['genres'].str.cat(sep='|')
data12=pd.Series(data12.split('|')) 
data12=data12.value_counts(ascending=False) 
data12

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [30]:
data13=data.copy()
data13['director']=data13.director.str.split('|')
data13=data13.explode('director')
data13.pivot_table(['revenue'], ['director'], aggfunc='sum', fill_value=0).nlargest(1, 'revenue').index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [61]:
data14 = data[data.genres.str.contains("Action")]
data14=data14['director'].str.cat(sep='|')
data14=pd.Series(data14.split('|')) 
data14=data14.value_counts(ascending=False) 
data14

Robert Rodriguez         9
Paul W.S. Anderson       7
Michael Bay              7
Ridley Scott             6
Antoine Fuqua            6
                        ..
Gina Prince-Bythewood    1
Jay Russell              1
DJ Pooh                  1
Andy Fickman             1
John Erick Dowdle        1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [4]:
data15 = data.copy()
data15 = data15[data15.release_year == 2012]  
data15['cast'] = data15['cast'].str.split('|')  
data15 = data15.explode('cast')
data15.pivot_table(['revenue'], ['cast'], aggfunc='sum', fill_value = 0).nlargest(1, 'revenue').index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [30]:
data16 = data[(data['budget'] >data['budget'].mean())]
data16=data16['cast'].str.cat(sep='|') 
data16=pd.Series(data16.split('|')) 
data16=data16.value_counts(ascending=False) 
data16

Matt Damon            18
Adam Sandler          17
Angelina Jolie        16
Tom Cruise            15
Eddie Murphy          15
                      ..
Ansel Elgort           1
Lucy Lawless           1
Clancy Brown           1
Eva Amurri Martino     1
Stacy Keach            1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [31]:
data17 = data[data.cast.str.contains("Nicolas Cage")]
data17=data17['genres'].str.cat(sep='|') 
data17=pd.Series(data17.split('|')) 
data17=data17.value_counts(ascending=False) 
data17

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
Horror              1
War                 1
Romance             1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [5]:
data18=data.copy
data.sample(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,money
674,tt0960144,90000000,201596308,You Don't Mess With the Zohan,Adam Sandler|John Turturro|Emmanuelle Chriqui|...,Dennis Dugan,Lather. Rinse. Save the world.,An Israeli counterterrorism soldier with a sec...,113,Comedy|Action,Columbia Pictures|Happy Madison Productions|So...,6/5/2008,5.6,2008,111596308

In [27]:
data[data['production_companies'].str.contains('Paramount Pictures', na=False)].sort_values(by='money').head(1)['original_title'].values[0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [4]:
data19=data.copy()
data19=data19.groupby(by = 'release_year')['revenue'].max()
data19.sort_values()

release_year
2000     546388105
2005     895921036
2004     919838758
2002     926287400
2014     955119788
2007     961000000
2001     976475550
2008    1001921825
2010    1063171911
2006    1065659812
2003    1118888979
2013    1274219009
2011    1327817822
2012    1519557910
2015    2068178225
2009    2781505847
Name: revenue, dtype: int64

In [5]:
cols = ['release_year', 'revenue']
df = data[cols].copy()
df = df.groupby('release_year')[['revenue']].sum()
display(df)
year, money = df.revenue.idxmax(), df.revenue.max()/1e6
print(f'Самым успешным по суммарным кассовым сборам стал {year} год.')
print(f'Кассовые сборы в этом году составили {round(money, 0)} млн. долларов.')

                  revenue
release_year
2000          10664099805
2001          13017764865
2002          14136361487
2003          14346123312
2004          15663430720
2005          15309425558
2006          14775042320
2007          18162406801
2008          18252781990
2009          20261791024
2010          21071204961
2011          22676791872
2012          23079001687
2013          23213799791
2014          23405862953
2015          25449202382

Самым успешным по суммарным кассовым сборам стал 2015 год.
Кассовые сборы в этом году составили 25449.0 млн. долларов.

# 20. Какой самый прибыльный год для студии Warner Bros?

In [4]:
data20 = data.copy()
data20=data20[data20.production_companies.str.contains("Warner Bros.")]
data20.production_companies = data20.production_companies.str.split('|')
data20 = data20.explode('production_companies')
data20 = data20.groupby(['release_year'])['money'].sum().sort_values(ascending=False)
display(data20)

release_year
2014    11407212316
2007     9808752478
2008     8232393786
2003     7882788875
2004     7353305273
2009     6508879437
2013     6451875149
2011     6189809006
2005     6076443126
2010     5952395957
2001     5194583917
2012     5090783245
2002     3826054138
2006     3139504609
2015     2745421723
2000     1769976543
Name: money, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [4]:
data.release_date = pd.to_datetime(data.release_date)
data['release_month'] = data.release_date.dt.month
data['release_month'].value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [62]:
data22=data.copy()
data22=data[(data.release_month >= 6) & (data.release_month <= 8)]
data22=data22['release_month'].value_counts()
data22=data22.sum()
data22

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [5]:
data23=data.copy()
data23 = data[(data.release_month == 1) | (data.release_month == 2) | (data.release_month == 12)]
data23=data23['director'].str.cat(sep='|') 
data23=pd.Series(data23.split('|')) 
data23=data23.value_counts(ascending=False) 
data23

Peter Jackson                     7
Clint Eastwood                    6
Steven Soderbergh                 6
Martin Scorsese                   4
Shawn Levy                        4
                                 ..
Alejandro GonzÃ¡lez IÃ±Ã¡rritu    1
Justin Lin                        1
Anthony Hemingway                 1
Dave Meyers                       1
Jeremy Garelick                   1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [30]:
data24 = data.copy()
data24.production_companies = data24.production_companies.str.split('|')
data24 = data24.explode('production_companies')
data24['count_letter'] = data24.original_title.apply(len)
data24.groupby(['production_companies'])['count_letter'].mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [27]:
data['low_words'] = data['overview'].str.split().str.len()
data.low_words.mean()
data_25 = data[data.low_words >= data.low_words.mean()]
data_25
data_25 = data['production_companies'].str.cat(sep='|')
data_25 = pd.Series(data_25.split('|'))
data_25 = data_25.value_counts(ascending=False)
display(data_25)

Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
                                         ...
Fast Track Productions                      1
Pan EuropÃ©enne Production                  1
Lone Runner Entertainment                   1
Nancy Tenenbaum Films                       1
Kingdom Feature Productions                 1
Length: 1771, dtype: int64

In [15]:
data['overview_len'] = data['overview'].str.split().str.len()
data_25 = data.copy()
data_25[data_25.overview_len > data_25.overview_len.mean()].production_companies.str.split('|').explode().value_counts()

Universal Pictures                                    95
Warner Bros.                                          82
Paramount Pictures                                    61
Columbia Pictures                                     58
Relativity Media                                      45
                                                      ..
Whamaphram Productions                                 1
Polygram Filmed Entertainment                          1
Spitfire Pictures                                      1
Mediastream Vierte Film GmbH & Co. Vermarktungs KG     1
IM Global                                              1
Name: production_companies, Length: 1033, dtype: int64

In [38]:
data25 = data.copy()
data25.production_companies = data25.production_companies.str.split('|')
data25 = data25.explode('production_companies')
data25['overview'] = data25['overview'].str.split().str.len()
data25.groupby(['production_companies'])['overview'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [22]:
data26=data.copy()
data261=np.percentile(data.vote_average, 99)
data26=data26[data26.vote_average >= data261].sort_values(by='vote_average', ascending=False)
data26

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,money,release_month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,7
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,678708609,6
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,8.0,2015,29401758,10
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,8.0,2014,456752480,11
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014,219555708,11
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,7.9,2010,665500000,7
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013,167000000,10
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,7.9,2013,292000694,12
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003,1024888979,12
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,7.9,2002,85072577,9
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,7.9,2000,30723096,10
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,7.9,2014,603312399,7
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,7.9,2014,144600318,2
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,7.9,2014,308330363,10
283,tt0485947,47000000,3547209,Mr. Nobody,Jared Leto|Diane Kruger|Linh Äan Pháº¡m|Sarah ...,Jaco Van Dormael,"Nothing is real, everything is possible.",Nemo Nobody leads an ordinary existence with h...,141,Science Fiction|Drama|Romance|Fantasy,Pan EuropÃ©enne Production|Virtual Films,2009-09-11,7.8,2009,-43452791,9
1688,tt0469494,25000000,76181545,There Will Be Blood,Daniel Day-Lewis|Paul Dano|Dillon Freasier|Cia...,Paul Thomas Anderson,There Will Be Greed. There Will Be Vengeance.,"When ruthless oil prospector, Daniel Plainview...",158,Drama,Miramax Films|Ghoulardi Film Company|Paramount...,2007-12-28,7.8,2007,51181545,12
1563,tt0338013,20000000,72258126,Eternal Sunshine of the Spotless Mind,Jim Carrey|Kate Winslet|Elijah Wood|Mark Ruffa...,Michel Gondry,I already forget how I used to feel about you.,"Joel Barish, heartbroken that his girlfriend u...",108,Science Fiction|Drama|Romance,Anonymous Content|This Is That Productions|Foc...,2004-03-19,7.8,2004,52258126,3
1444,tt0482571,40000000,109676311,The Prestige,Hugh Jackman|Christian Bale|Michael Caine|Scar...,Christopher Nolan,Are You Watching Closely?,A mysterious story of two magicians whose inte...,130,Drama|Mystery|Thriller,Touchstone Pictures|Syncopy,2006-10-19,7.8,2006,69676311,10
1213,tt0790636,5000000,55198285,Dallas Buyers Club,Matthew McConaughey|Jennifer Garner|Jared Leto...,Jean-Marc VallÃ©e,Sometimes it takes a hustler to change the world,Loosely based on the true-life tale of Ron Woo...,117,Drama|History,Universal Studios|Universal Pictures|Voltage P...,2013-09-07,7.8,2013,50198285,9
1205,tt1392214,46000000,122126687,Prisoners,Hugh Jackman|Jake Gyllenhaal|Paul Dano|Maria B...,Denis Villeneuve,Every moment matters.,When Keller Dover's daughter and her friend go...,153,Drama|Thriller|Crime,Alcon Entertainment|Madhouse Entertainment|8:3...,2013-09-18,7.8,2013,76126687,9
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,2014-10-24,7.8,2014,487105443,10
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,2013-12-18,7.8,2013,24351251,12
316,tt1187043,9000000,70000000,3 Idiots,Aamir Khan|Kareena Kapoor|Madhavan|Sharman Jos...,Rajkumar Hirani,Don't BE A STUPID BE AN I.D.I.O.T.,In the tradition of â€œFerris Buellerâ€™s Day ...,170,Drama|Comedy|Romance,Vidhu Vinod Chopra Productions,2009-12-23,7.8,2009,61000000,12
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,2002-12-18,7.8,2002,847287400,12
155,tt2980516,15000000,121201940,The Theory of Everything,Eddie Redmayne|Felicity Jones|Harry Lloyd|Davi...,James Marsh,His Mind Changed Our World. Her Love Changed His.,A look at the relationship between the famous ...,123,Drama|Romance,Working Title Films,2014-11-26,7.8,2014,106201940,11
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,2015-11-06,7.8,2015,68346473,11
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,2014-05-16,7.8,2014,293151265,5
496,tt0120737,93000000,871368364,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,One ring to rule them all,"Young hobbit Frodo Baggins, after inheriting a...",178,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,2001-12-18,7.8,2001,778368364,12

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [6]:
import itertools as it
data27 = data.copy()
data27['cast'] = data27.cast.str.split('|')
data27.cast = data27.cast.apply(lambda x: list(it.combinations(sorted(x), 2)))
data27.explode('cast').cast.value_counts()

(Daniel Radcliffe, Rupert Grint)       8
(Emma Watson, Rupert Grint)            8
(Daniel Radcliffe, Emma Watson)        8
(Ben Stiller, Owen Wilson)             6
(Helena Bonham Carter, Johnny Depp)    6
                                      ..
(Bruce Dern, June Squibb)              1
(Milla Jovovich, Timothy Olyphant)     1
(Dakota Fanning, Dianne Wiest)         1
(Emilie de Ravin, Kathleen Quinlan)    1
(Chris Evans, Dakota Fanning)          1
Name: cast, Length: 17943, dtype: int64

ВАРИАНТ 2

# Submission

In [9]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '4. Pirates of the Caribbean: On Stranger Tides (tt1298650)+',
 '2': '2. Gods and Generals (tt0279111)+',
 '3': '3. Winnie the Pooh (tt1449283)+',
 '4': '2. 110+',
 '5': '1. 107+',
 '6': '5. Avatar (tt0499549)+',
 '7': '5. The Lone Ranger (tt1210819)+',
 '8': '1. 1478+',
 '9': '4. The Dark Knight (tt0468569)+',
 '10': '5. The Lone Ranger (tt1210819)+',
 '11': '3. Drama+',
 '12': '1. Drama+',
 '13': '5. Peter Jackson+',
 '14': '3. Robert Rodriguez +',
 '15': '3. Chris Hemsworth+',
 '16': '3. Matt Damon+',
 '17': '2. Action+',
 '18': '1. K-19: The Widowmaker (tt0267626)+',
 '19': '5. 2015+',
 '20': '1. 2014+',
 '21': '4. Сентябрь+',
 '22': '2. 450+',
 '23': '5. Peter Jackson+',
 '24': '5. Four By Two Productions+',
 '25': '3. Midnight Picture Show+',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave+',
 '27': '5. Daniel Radcliffe & Rupert Grint верно+'}

In [8]:
# и убедиться что ни чего не пропустил)
len(answers)

27